.main {
  position: relative;
  border-top: 1px solid #e6e6e6;

  .toggle-all {
    width: 1px;
    height: 1px;
    border: none;
    opacity: 0;
    position: absolute;
    right: 100%;
    bottom: 100%;

    & + label {
      width: 60px;
      height: 34px;
      font-size: 0;
      position: absolute;
      top: -52px;
      left: -8px;
      transform: rotate(90deg);

      &:before {
        content: "â¯";
        font-size: 22px;
        color: #e6e6e6;
        padding: 10px 27px;
      }
    }
  }
}

.todo-list {
  list-style: none;

  li {
    position: relative;
    border-bottom: 1px solid #ededed;
    min-height: 59px;
    font-size: 24;

    &.completed {
      label {
        text-decoration: line-through;
        color: #d9d9d9;
        background-image: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E);
      }
    }

    label {
      display: inline-block;
      padding: 16px 40px 16px 60px;
      width: 100%;
      background-image: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E);
      background-repeat: no-repeat;
      background-position: 0 50%;
    }

    .view {
      .toggle {
        text-align: center;
        width: 40px;
        top: 0;
        left: 0;
        height: 40px;
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        border: none;
        appearance: none;
      }

      .destroy {
        display: none;
        position: absolute;
        bottom: 0;
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 30px;
        border: none;
        background: none;
        margin-bottom: 16px;
        transition: color 0.2s ease-out;
        color: #cc9a9a;

        &:hover {
          color: #af5b5e;
        }

        &:before {
          content: "";
          display: block;
          position: absolute;
          margin: auto;
          height: 17px;
          top: 50%;
          left: 50%;
          translate: -50%;
          width: 3px;
          background-color: currentColor;
          transform: rotate(45deg);
        }

        &:after {
          content: "";
          margin: auto;
          display: block;
          left: 50%;
          translate: -50%;
          position: absolute;
          height: 17px;
          width: 3px;
          background-color: currentColor;
          transform: rotate(-45deg);
        }
      }
    }

    & > input {
      display: none;

      &.edit {
        display: block;
        padding: 12px 16px;
        margin-left: 43px;
        font-size: 24px;
        line-height: 1.4em;
        width: calc(100% - 43px);
        border: 1px solid #999;
        box-shadow: inset 0 -1px 5px 0 rgb(0 0 0 / 20%);

        &:focus {
          outline: none;
        }
      }
    }
  }
}
